.text {
	padding: 1em;
	min-width: 300px;
	display: inline-block;
}

.entries {
	margin: 0 1em;
}

.doNotAskAgain {
	padding: 0.3em 1em;
}

.buttons {
	text-align: right;
	padding: 0 1em;
}
.buttons button {
	margin: 0 0.3em;
}